.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navBarButtons {
  color: #4d602a;
}

.signInBar {
  background-color: #828c59;
}

.navButtons {
  background-color: #6c883b;
  color: white;
  border-width: 0;
  padding: 9;
  width: 150;
  font-size: 15;
  margin-left: 50;
  margin-right: 50;
  border-radius: 10px;
}

#head {
  background-color: #828c59;
  top: 0;
  left: 0;
  right: 0;
  padding: 20;
}

footer {
  background-color: #fadadd;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30;
}

#message_bar {
  background-color: #d0bc8c;
}

#must_signin {
  background-color: #828c59;
}

.navbar-item {
  font-size: 20;
  font-weight: 500;
  margin: 7;
}

#shoppingCart {
  color: white;
}

#logo {
  height: 400;
  width: 400;
  margin-top: 50;
}

#pennants {
  height: 600;
  width: 500;
  margin-top: 70;
}

#materials {
  height: 600;
  width: 500;
}

#logo {
  height: 350;
  width: 350;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32.5%, 1fr));
  gap: 1%;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.no-underline {
  text-decoration: none;
}

.center {
  margin-left: 300;
  margin-right: 300;
  margin-top: 50;
}

.heading-container {
  display: flex;
  justify-content: flex-end;
  right: 0;
}

.container-item {
  flex: 1;
}

.heading-container-item {
  margin-left: 30px;
  font-size: 20;
  font-weight: bold;
}

.left-container {
  display: flex;
  justify-content: flex-end;
  right: 0;
}

.left-container-item {
  margin-left: 70px;
  font-size: 20;
  font-weight: bold;
}

.right-container {
  display: flex;
  justify-content: flex-start;
}

.right-container-item {
  margin-left: 20px;
}

.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.cart-product-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quantity {
  width: 30%;
}

.sub-button {
  color: grey;
  border-width: 0;
  padding: 9;
  width: 150;
  font-size: 15;
  margin-left: 50;
  margin-right: 50;
}

.subtotal-buttons {
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin: 5px;
}

.pro-column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

#buttonColors {
  background-color: white;
  border: none;
}

.modal-content {
  background-color: #828c59;
  border-radius: 25px;
}

.modal-content {
  background-color: #828c59;
  border-radius: 25px;
}

#slider .card-content {
  max-width: 98%;
}

#slider {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  #slider .card-content {
    display: none;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}